{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 7"]
        },
        "useBuiltIns": "usage",
      },
      
    ],
    "@babel/preset-react",
  ],
  "plugins": [
    "emotion",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "apps": "./apps",
        "apis": "lodash"
      }
    }]
  ]
}
